@page "/goats/vaccinations"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>Goats Vaccinations</h3>

<AUI.Components.Production.Vaccinations.VaccinationAdd Animal="Goats" />

<AUI.Components.Production.Vaccinations.VaccinationsNext Animal="Goats" />

<AUI.Components.Production.Vaccinations.VaccinationTable Animal="Goats" />
