@if (Animal.Equals("Cattle"))
{
    Address = "cattle/pedigree";

}
else if (Animal.Equals("Pigs"))
{
    Address = "pigs/pedigree";
}
else if (Animal.Equals("Goats"))
{
    Address = "goats/pedigree";
}


<div class="card">
    <div class="card-header">
        <div class="d-inline-flex"><b>Pedigree</b></div>
        <div class="d-inline-flex">
            <NavLink class="nav-link" href=@Address>
                <span class="oi oi-chevron-right" aria-hidden="true" style="font-size: 10px;"></span>
            </NavLink>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Internal: </li>
        <li class="list-group-item">External: </li>
        <li class="list-group-item">Partial:</li>
    </ul>
</div>
@code {
    // Get the animal Type for better Rendering
    [Parameter]
    public string Animal { get; set; }
    public string Address { get; set; }
}