<div class="col-sm col-md-6 col-lg-4">
    <div class="p-4 mb-4 w-100 d-card">
        <p><b>Animals</b></p>
        <div class="d-flex justify-content-between flex-row">
            <div>Cattle</div>
            <div>XXX</div>
        </div>
        <div class="d-flex justify-content-between flex-row my-3">
            <div>Goats</div>
            <div>XXX</div>
        </div>
        <div class="d-flex justify-content-between flex-row mb-3">
            <div>Pigs</div>
            <div>XXX</div>
        </div>
        <div class="d-flex justify-content-between flex-row">
            <div>Chicken</div>
            <div>XXX</div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int FarmID { get; set; }
}
